
#index_home {
    margin-top: 0;
    background: url("../image/background_1.jpg") fixed;
    background-size: 100% auto;
}
.borderRadius15 {
    border-radius: 15px !important;
}
#userHead {
    box-shadow: 0 0 15px grey;
    border: 2px solid white;
}
#nicknameArea {
    text-align: center;
    font-size: 25px;
    font-family: 字魂67号-勾玉行书;
    margin-top: 8px;
}
#saying {
    text-align: left;
    font-size: 17px;
    font-family: 楷体;
    margin-top:3px;
}
#audioBox {
    margin-top: -20px;
}
#buttonsTab .button:hover {
    background: #f1ebe9 !important;
    border-radius: 8px !important;
}
.article_list {
    margin-top:0 !important;
    margin-bottom:0 !important;
    padding: 0 !important;
    font-size: 16px !important;
}
/*.my-background{*/
/*    position: fixed;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    background-image: url("../image/background.jpg");*/
/*    opacity: 0.3 ;*/
/*}*/
.ui.sticky {
    /*过渡 ：所有的属性2秒的过渡*/
    transition: all 2s;
}
/*粘性后自动添加的类*/
.ui.sticky.fixed {
    margin-top: 80px !important;
}





